/**
 * Import the dependencies
 */
@import "~bootstrap/scss/bootstrap";
@import "~open-iconic/font/css/open-iconic";


html, body {
    height: 100%;
}

div.alert span.oi {
    position: relative;
    top: 1px;
    margin-right: 5px;
}

button span.oi {
    position: relative;
    top: 1px;
    margin-left: 5px;
}
